html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background:silver;  /* fallback for old browsers */
}

h1, p, a {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
}

h1 {
    font-size: 2rem;
}
.contenido {
    max-width: 1000px;
    width: 95%;
    margin: 5rem auto 0 auto;
    font-size: 2rem;
}

img {
    max-width: 50%;
}

@media (min-width: 768px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 5rem;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }