html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3 {
    text-align: center;
}
body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%; 
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}

.boton {
    background-color: gray ;
    margin-top: .5rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border:none;
}
.boton:hover{
    cursor: pointer;
}

.formulario {
    background-color: silver;
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}

.enviar {
    display: flex;
    justify-content: flex-end;
}
